<div style="text-align: center;">
    <div class="login-main">
        <mat-card class="border">
            <h1 style="text-align: center !important;">
                INFORMATION
            </h1>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Name">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Department">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Telephone">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input type="number" matInput placeholder="ID number">
                </mat-form-field>
            </mat-card-content>     
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">Submit</button>
        </mat-card-actions>
        </mat-card>
    </div>
</div>
